.feinman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    opacity: 1;
}

.feinman__link:hover {
    opacity: .7;
    transition: opacity .5s ease-out;
}