.header__subtitle {
    max-width: 388px;
    width: 100%;
    position: absolute;
    left: 64px;
    bottom: 30px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 400;
    z-index: 4;
}