.kaufman__triangle {
    position: absolute;
    width: 877px;
    height: 877px;
    background-image: url(../../../images/kaufman-triangle.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100%;
    right: -210px;
    top: 0;
    z-index: -1;
}