.feinman {
    background-color: #f2f2f2;
    background-image: url(/images/feynman.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 867px 637px;
    position: relative;
    flex-direction: column;
    text-align: center;
    min-height: 790px;
    padding-top: 100px;
}