* {
  outline-width: 1px;
  outline-style: solid;
  outline-color: red; //или другой удобный цвет
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*--HEADER--*/

.header {
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  height: 32px;
  width: 183px;
  background-repeat: no-repeat;
  top: 0;
  z-index: 5;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  z-index: 4;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    position: absolute;
    right: 0;
    top: 64px;

}

/*--CONTENT--*/

/*--DESCRIPTION--*/

.description {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/*--DIGITS--*/

.digits {
  margin: 100px auto;
}

.section-title {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.table {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  align-items: stretch;
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.table__text:last-child {
  margin-bottom: 0;
}

/*--FEINMAN--*/

.feinman {
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  position: relative;
  flex-direction: column;
  text-align: center;
  min-height: 790px;
  padding-top: 100px;
}

.feinman__title {
  width: 648px;
  margin: 0 auto;
  margin-bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feinman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

/*--KAUFMAN--*/

.kaufman {
  margin: 0 auto;
  padding: 90px 0;
  color: white;
  background-color: #1f1f1f;
  overflow: hidden;
  min-height: 877px;
  position: relative;

}

.section-title_theme_dark {
  line-height: 69px;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  position: relative;
  z-index: 2;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
	height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  right: -210px;
  top: 0;
  z-index: 1;

}

/*--FOOTER--*/

.footer {
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: white;
  background-color: #1f1f1f;
}

.footer__columns {
  margin: 0 auto;
  width: 90%;
  min-height: 350px;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__author {
  margin: 18px 0;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin-bottom: 16px;
  list-style-type: none;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}
