.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: 400;
    color: #2f80ed;
    text-decoration: none;
    opacity: 1;
    
}

.khan__buy-link:hover {
    opacity: .7;
    transition: opacity .5s ease-out;
}